acceptance/reports
.DS_Store
.idea
.vscode
*.iml
*.swp
dist
node_modules
npm-debug.log
package-lock.json
pipeline-vars.yml
webpack-assets.json
webpack.json
yarn-error.log
.nyc_output
terraform.tfstate*
terraform.tfstate
.jest-*
.next
_next
.terraform

enterprise-api/dev/my-pharmacy.key
enterprise-api/dev/my-pharmacy.cer
enterprise-api/dev/my-pharmacy.pkcs8.key

enterprise-api/prod/my-pharmacy.key
enterprise-api/prod/my-pharmacy.cer
enterprise-api/prod/my-pharmacy.pkcs8.key

ci/tf/.terraform
ci/k8s/helm/dev/*.pem
ci/k8s/helm/qa/*.pem
ci/k8s/helm/prod/*.pem
